In [18]:
import pandas as pd
import numpy as np
import seaborn as sns
import tensorflow as tf
import random
import matplotlib.pyplot as plt

# might be needed depending on your version of Jupyter
%matplotlib inline

In [14]:
data_info = pd.read_csv('lending_club_info.csv',index_col='LoanStatNew')

In [15]:
print(data_info.loc['revol_util']['Description'])

Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

In [16]:
def feat_info(col_name):
    print(data_info.loc[col_name]['Description'])

In [17]:
feat_info('mort_acc')

Number of mortgage accounts.

# Loading the data and other imports

In [19]:
df = pd.read_csv('lending_club_loan_two.csv')

In [20]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
loan_amnt,396030.0,14113.888089,8357.441341,500.00,8000.00,12000.00,20000.00,40000.00
int_rate,396030.0,13.639400,4.472157,5.32,10.49,13.33,16.49,30.99
installment,396030.0,431.849698,250.727790,16.08,250.33,375.43,567.30,1533.81
annual_inc,396030.0,74203.175798,61637.621158,0.00,45000.00,64000.00,90000.00,8706582.00
dti,396030.0,17.379514,18.019092,0.00,11.28,16.91,22.98,9999.00
open_acc,396030.0,11.311153,5.137649,0.00,8.00,10.00,14.00,90.00
pub_rec,396030.0,0.178191,0.530671,0.00,0.00,0.00,0.00,86.00
revol_bal,396030.0,15844.539853,20591.836109,0.00,6025.00,11181.00,19620.00,1743266.00
revol_util,395754.0,53.791749,24.452193,0.00,35.80,54.80,72.90,892.30
total_acc,396030.0,25.414744,11.886991,2.00,17.00,24.00,32.00,151.00
mort_acc,358235.0,1.813991,2.147930,0.00,0.00,1.00,3.00,34.00
pub_rec_bankruptcies,395495.0,0.121648,0.356174,0.00,0.00,0.00,0.00,8.00